* {
  box-sizing: border-box;
}



@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Odibee+Sans&display=swap');


#shows {
  display: flex;
  align-items: center;
  justify-content:center ;
  flex-wrap: wrap;
  /* margin-top: -50px; */

}
 h2 {
  text-align: center;
  font-size: 50px;
  color: rgb(20, 136, 230);
  text-shadow: 3px 3px black;
  /* margin-top: -74px; */
}

#no-show{
  margin-top: 20px;
}
h3{
  font-size: 22px;
  font-family: "Odibee Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.show {
  font-family: "Odibee Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 380px;

  min-height: 500px;

  padding-bottom: 1rem;
  margin: 10px;
  border-radius: 15px;
}


.show img {
  width: 100%;
  max-width: 320px;
  height: 220px;
  object-fit: cover;

  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.show-info {
  width: 100%;
  max-width: 320px;

  padding: 10px 15px;
  margin-top: 15px;

  background-color: rgba(0, 0, 0, 0.622);
  border-radius: 15px;
}


.show .title {
  color: rgb(20, 136, 230);
  text-shadow: 1px 1px rgb(0, 0, 0);
  font-size: 33px;
}

.details-btn {
  margin-top: 4px;
  text-decoration: none;
  font-size: 21px;
  width: 160px;
  border-radius: 3px;
  text-align: center;
  color: rgb(20, 136, 230);
  background: rgb(29, 28, 28);
  text-shadow: 1px 1px black;
}
.details-btn:hover {
  background: rgb(20, 136, 230);
  color: black;
  text-shadow: none;

}
.show p {
  width: 100%;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
}


@media (max-width: 768px) {

  h2 {
    font-size: 28px;
  }

  .show {
    max-width: 100%;
    min-height: auto;
    padding: 15px;
  }

  .show img {
    height: 200px;
  }

  .show .title {
    font-size: 22px;
  }

  .show p {
    font-size: 14px;
  }

  .details-btn {
    width: 100%;
    font-size: 16px;
    padding: 8px;
  }
}
@media (max-width: 1024px) {
  .show {
    max-width: 320px;
  }
}
.show {
  transition: transform 0.2s ease;
}

.show:hover {
  transform: translateY(-5px);
}
