@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Creepster&display=swap');


.login-page {
  width: 100%;
  max-width: 360px;
  padding: 40px 15px 0;
  margin: auto;
}

.form {
  background-image: repeating-radial-gradient(
    circle closest-corner at 22% 100px,
    rgba(20, 136, 230, 0.72),
    rgb(20, 136, 230) 50px,
    #9b9a9b 50px,
    #7b787d 100px
  );

  width: 100%;
  max-width: 440px;

  margin: 30px auto;
  padding: 30px 20px;

  border-radius: 15px;
  box-shadow: -2px 2px 21px 14px rgba(0,0,0,1);
}


.form h2 {
  font-size: 32px;
  letter-spacing: 3px;
}


.form input{
  border-radius: 10px;
 border: 1px solid black;
  background: #ffffff;
  width: 100%;
  height: 50px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form textarea {
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid rgb(206, 206, 206);
  width: 99%;
  max-width: 99%;
  min-width: 99%;
  min-height: 50px;
  margin-bottom: 10px;

}
.form button {
  padding: 10px;
  font-size: 16px;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: rgb(0, 0, 0);
  color: rgb(20, 136, 230);
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}

.form .message {
  margin: 15px 0 0;
  color: #6b6767;
  font-size: 17px;
}
.form .message a {
  color: rgb(118, 230, 20);
  text-decoration: none;
  text-shadow: 2px 2px black;
  font-size: 28px;
}

.no-result {
  margin-top: 8rem;
  font-size: 30px;
}





.border{
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 20px;
}

#search{
  margin-top: 50px;
}
#search .form h2{
  margin-top:-20px;
  margin-bottom: 0px;
    font-size: 30px;
  }
 .search-result .show {
  width: 100%;
  max-width: 360px;
  margin: 15px auto;
}


  

  .search-result > .show > p {
    font-size: 33px;
  }

  .search-result > .show > h3 {
    font-size: 45px;
background-color: black;
padding: 0px 10px;
border-radius: 10px;
  }
  
#search h4 {
  font-size: 36px;
  margin: 0;
  letter-spacing: 4px;
  color: whitesmoke;
  text-shadow: 3px 3px rgb(3, 3, 73);
}
  .no-result {
    margin-top: 8rem;
    font-size: 40px;
    background-color: #000000;
    border-radius: 100%;
  }

  @media (max-width: 768px) {

  .form {
    padding: 20px 15px;
    margin: auto;
    width: 80%;
    max-width: 100%;
    
  }

  .form h2 {
    font-size: 24px;
  }

  .form input {
    height: 42px;
    font-size: 14px;
  }

  .form textarea {
    font-size: 14px;
    min-height: 80px;

  .form button {
    font-size: 15px;
    height: 40px;
  }

  .form .message {
    font-size: 14px;
  }

  .form .message a {
    font-size: 18px;
  }
}
  }
.form {
  transition: transform 0.2s ease;
}

.form:hover {
  transform: translateY(-3px);
}

