@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Odibee+Sans&display=swap');
body {
  background-image: url(/images/bg.png);
  background-size: cover;
  background-position: center;

  margin: 0;
  padding: 0;

  font-family: "Odibee Sans", sans-serif;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;
  width: 100%;
}


nav {
  display: flex;
  gap: 20px;
}



#logo-img {
  height: 90px;
}


nav a {
  font-size: 18px;
  font-weight: 800;

  width: 90px;
  height: 90px;

  color: black;
  text-decoration: none;

  background-image: url(/images/tv.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: transform 0.2s ease;
}





header a {
  padding: 0 10px;
  text-decoration: none;
  
  
}
nav a:hover {
  transform: scale(1.1);
}


footer {
  background-color: #040404;
  color: rgb(20, 136, 230);
  font-weight: bolder;
  font-weight: 100;
  letter-spacing: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}


#home h1 {
  margin-top: 80px;
  font-size: 36px;
  width: 40vw;
  display: inline;
  text-align: center;
  border-radius: 10px;
  color: rgb(20, 136, 230);
  text-shadow: 3px 3px black;
  letter-spacing: 3px;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* margin-top: -40px; */
  background-image: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7) 50px,
    rgba(169, 169, 169, 0.7) 50px,
    rgba(169, 169, 169, 0.7) 100px
  ),
  repeating-linear-gradient(
    45deg,
    #00000099,
    #000000 45px,
    #d3d3d3 45px,
    #d3d3d3 60px);
 padding: 0;
 height: 73vh;
 border-radius: 5px;
}

#home img {
  height: 430px;
  margin-top: 70px;
  margin-right: 50px;
}
@media (max-width: 768px) {

  header {
    flex-direction: column;
    gap: 10px;
  }

  #logo-img {
    height: 70px;
  }

  nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  nav a {
    width: 70px;
    height: 70px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {

  #home {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  #home h1 {
    width: 100%;
    font-size: 22px;
  }

  #home img {
    height: 220px;
    margin: 10px 0;
  }
}

