@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Odibee+Sans&display=swap');
body {
  background-image: url(/images/bg.png);
  background-size: cover;
  background-position: center;

  margin: 0;
  padding: 0;

  font-family: "Odibee Sans", sans-serif;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  

  padding: 10px 20px;
  width: 100%;

  position: sticky;
  top: 0;
  z-index: 1000;

  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}







nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}









.welcome {
  color: orange;
  font-size: 22px;
  margin-right: 10px;
}








#logo-img {
  height: 90px;
}


nav a {
  height: 55px;
  width: 100px;
  font-size: 1.2rem;
  font-weight: 800;
 
  min-width: auto;

  background-image: url(/images/tv.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: black;
}








header a {
  padding: 0 10px;
  text-decoration: none;
  
  
}
nav a:hover {
  transform: scale(1.08);
}


footer {
  background-color: #040404;
  color: rgb(20, 136, 230);
  font-weight: bolder;
  font-weight: 100;
  letter-spacing: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}


#home h1 {
  margin-top: 80px;
  font-size: 36px;
  width: 40vw;
  display: inline;
  text-align: center;
  border-radius: 10px;
  color: rgb(20, 136, 230);
  text-shadow: 3px 3px black;
  letter-spacing: 3px;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* margin-top: -40px; */
  background-image: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7) 50px,
    rgba(169, 169, 169, 0.7) 50px,
    rgba(169, 169, 169, 0.7) 100px
  ),
  repeating-linear-gradient(
    45deg,
    #00000099,
    #000000 45px,
    #d3d3d3 45px,
    #d3d3d3 60px);
 padding: 0;
 height: 73vh;
 border-radius: 5px;
}

#home img {
  height: 430px;
  margin-top: 70px;
  margin-right: 50px;
}
@media (max-width: 768px) {

  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
  }

  nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  nav a {
    min-width: 120px;
    height: 45px;
    font-size: 14px;
    padding: 0 10px;
  }

  #logo-img {
    height: 65px;
  }

  .welcome {
    font-size: 16px;
  }
}



